@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Alkalami";
}

.wrapper {
    background: #f6f8f9;
    width: 20rem;
    padding: 2rem;
    margin-top: 4rem;
    border-radius: 1rem;
    box-shadow: 16px 18px 25px 4px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}